<div class="hero__categories">
    <div class="hero__categories__all">
        <i class="fa fa-bars"></i>
        <span>دسته بندی محصولات</span>
    </div>
    <ul>
        <li><a href="#">گردو</a></li>
        <li><a href="#">بادام</a></li>

        <li><a href="#">Papayaya & Crisps</a></li>
        <li><a href="#">Oatmeal</a></li>
        <li><a href="#">Fresh Bananas</a></li>
    </ul>
</div>
