@model ChangePassWordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

@section menu{
            <section class="hero hero-normal">
}
<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_SlideBar" />
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1>ویرایش رمز عبور </h1></header>
                        <div class="inner form-layer">
                            <form asp-action="ChangePassWord" method="post" enctype="multipart/form-data">
                              @if (ViewBag.IsSuccess != null)
                              {
                                  <div class="alert alert-success">
                                      رمزعبور شما با موفقیت ویرایش شد
                                  </div>
                              }

                                
                                <div class="row">
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" asp-for=OldPassword placeholder="کلمه عبور فعلی" aria-describedby="email-address">
                                            <span class="input-group-addon" id="username"><i class="zmdi zmdi-account"></i></span>
                                         
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                                            <input type="text" class="form-control" asp-for="Password" placeholder="کلمه عبور جدید" aria-describedby="email-address">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                                            <input class="form-control" placeholder="تکرار کلمه عبور جدید" aria-describedby="email-address"  asp-for=RePassword>
                                        </div>
                                    </div>
                                   
                                    <div class="text-danger" asp-validation-summary=All></div>
                                    
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button class="btn btn-success"> ویرایش کلمه عبور </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
