@model Shop.Core.DTOs.RegiserViewModel

@{
    ViewData["Title"] = "ثبت  نام";
}
@section menu{
            <section class="hero hero-normal">

    }


    <section class="ftco-section">
        
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="d-flex">
                        <div class="w-100">
                            <h3 class="mb-4">
                               ثبت نام
                            </h3>
                        </div>
                        <div class="w-100">
                            <p class="social-media d-flex justify-content-end">
                                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><i class="fa fa-telegram"></i></a>
                                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                            </p>
                        </div>
                    </div>
                    <form  class="login-form" asp-action="Register" method="post" >
                         <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><i class="fa fa-lock"></i></div>
                            <input type="text" class="form-control rounded-left" placeholder="نام کاربری" asp-for=UserName>
                              <span class="text-danger" asp-validation-for=UserName></span>
                        </div>
                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><i class="fa fa-envelope"></i></div>
                            <input type="email" class="form-control rounded-left" placeholder="نام کاربری یا(ایمیل)"  asp-for=Email >
                              <span class="text-danger" asp-validation-for=Email></span>
                        </div>
                        
                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><i class="fa fa-lock"></i></div>
                            <input type="password" class="form-control rounded-left" placeholder="کلمه عبور" asp-for=Password>
                              <span class="text-danger" asp-validation-for=Password></span>
                        </div>
                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><i class="fa fa-lock"></i></div>
                            <input type="password" class="form-control rounded-left" placeholder="تکرار کلمه عبور"  asp-for=RePassword>
                            <span class="text-danger" asp-validation-for=RePassword></span>
                        </div>
                        <div class="form-group d-flex align-items-center">
                            
                            <div class="w-100 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary rounded submit">ثبت نام</button>
                            </div>
                        </div>
                        <div class="form-group mt-4">
                            <div class="w-100 text-center">
                                <p class="mb-1">اکانت داری؟<a asp-action="Register">ورود به سایت </a></p>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
</section>
