@model Shop.Core.DTOs.ResetPasswordViewModel


@{
    ViewData["Title"] = "تغییر کلمه عبور";
}
@section menu{
<section class="hero hero-normal">

    }
    

    <section class="ftco-section">
        
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
               
                <div class="login-wrap p-4 p-md-5">
                    <div class="d-flex">
                        <div class="w-100">
                            <h3 class="mb-4">
                                تغییر کلمه عبور
                            </h3>
                        </div>
                        <div class="w-100">
                            <p class="social-media d-flex justify-content-end">
                                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><i class="fa fa-telegram"></i></a>
                                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                            </p>
                        </div>
                    </div>

                    <form  class="login-form" method="post" asp-controller="Account" asp-action="ResetPassword"   >
                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><i class="fa fa-lock"></i></div>
                          <input type="password" class="form-control rounded-left" placeholder="کلمه عبور" asp-for=Password>
                          <span asp-validation-for=Password></span>
                            <input type="hidden" class="form-control rounded-left" asp-for=ActiveCode>
                            <span asp-validation-for=ActiveCode></span>
                          </div>
                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><i class="fa fa-lock"></i></div>
                            <input type="password" class="form-control rounded-left" placeholder="تکرار کلمه عبور" asp-for=RePassword>
                            <span asp-validation-for=RePassword></span>
                        </div>
                        <div class="form-group d-flex align-items-center">
                          
                            <div class="w-100 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary rounded submit">تایید</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    
</section>
